{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 100,
    "bracketSpacing": true,
    "trailingComma": "all",
    "plugins": ["prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": ["*.jsx", "*.js", "*.tsx", "*.ts", "*.json", "*.yml"],
            "options": {
                "tabWidth": 2,
                "bracketSpacing": true
            }
        }
    ]
}
